* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}

#grilla {
    width: 99vw;
    height:500vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.15fr repeat(4,1fr) 0.2fr;
    grid-template-areas: 
    "header"
    "main"
    "main"
    "main"
    "main"
    "footer"
    ;
}

header {
    grid-area: header;
    background-color: black;
   display: grid;
   grid-template-columns: 0.5fr 1fr 1fr;
   grid-template-rows: 0.2fr auto;
   grid-template-areas: 
   "icono redesmenu redesmenu"
   "icono nav nav"
   ;
}

#icono {
    grid-area: icono;
}

#nav {
    grid-area: nav;
    display: flex;
    justify-content: end;
    margin-left: 50px;
;

}

.menu__item {
    display: inline-block;
    padding: 10px;
    
}

.menu__item a {
    text-decoration: none;
    color: #4717f6;
}

#botondebusqueda{
    
    border: none;
    color: #ffffff;
    width: 7em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(
        90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4
    );
    background-size: 300%;
    border-radius: 30px;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 1;
}
button:hover {
    animation: animation 8s linear infinite;
    border: none;
}

@keyframes animation {
    0% {background-position: 0%;}
    100% {background-position: 400%;}
}

button:before {
    content: "";
   
top: 5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(
        90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4
    );
    background-size: 400%;
    border-radius: 35%;
    transition: 1s;
}

button:hover::beffore {
    filter: blur(20px);
}

#navbar-toggler {
    background-color: #4717f6;
}


#redesmenu {
    grid-area: redesmenu;
}
   
.contenedor {
    text-align: end;
    
}
i {
    text-align: center;
    font-size: 25px;
    color: #6f04d9;
    margin: 10px;
    border-radius: 50%;
    padding: 10px ;
    box-shadow: 0px 5px 10px rgb(0, 0, 0,.35) ;
    transition: .3s ease;
 }

 .fa-youtube:hover {
    background-color: red;
    color: white;
    box-shadow: 0 0 15px red
                0 0 45px red
                0 0 75px red
                0 0 115px red;
 }

 .fa-youtube:hover {
    background-color: red;
    color: white;
    box-shadow: 0 0 15px red
                0 0 45px red
                0 0 75px red
                0 0 115px red;
 }

 .fa-twitter:hover {
    background-color: #1da1f2;
    color: white;
    box-shadow: 0 0 15px #1da1f2
                0 0 45px #1da1f2
                0 0 75px #1da1f2
                0 0 115px #1da1f2;
 }

 .fa-instagram:hover {
    background-color: #d6249f;
    color: white;
    box-shadow: 0 0 15px #d6249f
                0 0 45px #d6249f
                0 0 75px #d6249f
                0 0 115px #d6249f;
 }

 .fa-facebook:hover {
    background-color: #3b5998;
    color: white;
    box-shadow: 0 0 15px #3b5998
                0 0 45px #3b5998
                0 0 75px #3b5998
                0 0 115px #3b5998;
 }

 #3b5998
main {
    grid-area: main;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(6, 1fr) 0.5fr;
    grid-template-areas: 
    "carrousel"
    "categorias"
    "productos_destacados"
    "nuevos_ingresos"
    "nuevos_ingresos"
    "nuevos_ingresos"
    "marcas"
    ;
}

#carrousel {
    grid-area: carrousel;
    background-color: black;
}
#categorias {
    grid-area: categorias;
    background-color:  #0e0b16;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0,1fr 1fr;
    grid-template-areas: 
    "titulocategoria titulocategoria titulocategoria titulocategoria"
    "categoria1 categoria2 categoria3 categoria4"
    ;

}
#titulocategoria {
    color: #4717f6;
    text-align: center;
}   

#categoria1 {
    grid-area: categoria1;
    display: flex;
    justify-content: center;
}
#categoria2 {
    grid-area: categoria2;
    display: flex;
    justify-content: center;
}
#categoria3 {
    grid-area: categoria3;
    display: flex;
    justify-content: center;
}
#categoria4 {
    grid-area: categoria4;
    display: flex;
    justify-content: center;
}

.flip-card {
    background-color: transparent;
    width: 300px;   
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 16px;
}

.flip-card-front {
    background-image: linear-gradient(45deg, #6f04d9, #d9048e);

}

.flip-card-front img {
    width: 300px;
    margin-top: 5rem;
    

}
.flip-card-back {
    background-image: linear-gradient(315deg, #6f04d9, #8a045c);
    color: #ffffff;
    transform: rotateY(180deg);
}
.flip-card-back img {
    width: 200px;
    margin-top: 1rem;
}

.flip-card-back h3 {
    margin-bottom: 0.3rem;
}
.flip-card-back a {
    text-decoration: none;
    list-style: none;
}
.flip-card-back h2 {
    margin: 0;
    color: #ffffff;
    
}
.flip-card-back h3 {
    margin: 0;
    color: #ffffff;
    
}




#productos_destacados {
    grid-area: productos_destacados;
    background-color: #0e0b16;
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 1fr 1fr;
    grid-template-areas: 
    "titulo-producto-destacado"
    "arruselproductosdestacados"
    ;
}

#titulo-producto-destacado {
    grid-area: titulo-producto-destacado ;
    color: #4717f6;
}

#arruselproductosdestacados {
    grid-area: arruselproductosdestacados;
}





#nuevos_ingresos {
    grid-area: nuevos_ingresos;
    background-color: #0e0b16;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    "titulonuevosingresos"
    "nuevoingreso"
    "descripcioningreso"
    "imagendeingreso"
    "videodeingreso"
    ;
}

#titulonuevosingresos {
    grid-area: titulonuevosingresos;
    color: #4717f6;
}

#nuevoingreso {
    grid-area: nuevoingreso;
    color: #6f04d9;
}

#descripcioningreso {
    grid-area: descripcioningreso;
    color: #ffffff;
}

#imagendeingreso {
    grid-area: imagendeingreso;
}

#videodeingreso {
    grid-area: videodeingreso;
}


#marcas {
    grid-area: marcas;
    display: flex;
    justify-content: center;
   justify-content: space-evenly;
   align-items: center;
    background-color: #0e0b16;
}

#marcalogitech {
    grid-area: marcalogitech;
}

#marcaxiaomi {
    grid-area: mmarcaxiaomi;
}
#marcaredragon {
    grid-area: marcaredragon;
}





footer {
    grid-area: footer;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: auto;
   grid-template-areas:
   "iconofooter navfooter contactofooter"
   ;
}

#inocnofooter {
    grid-area: iconofooter;

}


#navfooter {
    grid-area: navfooter;
}

.footer__item {
    
    padding: 10px;
    list-style: none;
}

.footer__item a {
    text-decoration: none;
    color: #6f04d9;
}

#contactofooter {
    grid-area: contactofooter;
    color: #6f04d9;
    list-style: none;
}
.listacontactofooter {
    list-style: none;
}
.wpp {
    position: fixed;
    bottom: 10px;
    right: 10px;
}





/* PAGINA PRODUCTOS */

#grillaproductos {
    width: 99vw;
    height: 400vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:0.01fr repeat(2, 1fr) 0.1fr;
    grid-template-areas:
    "header"
    "mainproductos"
    "mainproductos"
    "footer" ;
}

#mainproductos {
    grid-area: mainproductos;
    background-color: #0e0b16;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 0.5fr);
    grid-template-areas:
    "teclados"
    "auriculares"
    "fuentes"
    "mouses"
    
    ;
}

#teclados {
    grid-area: teclados;
    background-color: #0e0b16;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 0.3fr 0.5fr;
    grid-template-areas:
    "teclados-titulo "
    "teclados-tarjetas ";
}


#teclados-titulo {
    grid-area: teclados-titulo;
    color: #6f04d9;
    display: flex;
    justify-content: center;
    align-content: center;
}

#teclados-tarjetas {
    grid-area: teclados-tarjetas;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


#auriculares {
    grid-area: auriculares;
    background-color: #0e0b16;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 0.3fr 0.5fr;
    grid-template-areas:
    "auriculares-titulo "
    "auriculares-tarjetas ";
}

#auriculares-titulo {
    grid-area: auriculares-titulo;
    color: #6f04d9;
    display: flex;
    justify-content: center;
    align-content: center;
}

#auriculares-tarjetas {
    grid-area: auriculares-tarjetas;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


#fuentes {
    grid-area: fuentes;
    background-color: #0e0b16;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 0.3fr 0.5fr;
    grid-template-areas:
    "fuentes-titulo "
    "fuentes-tarjetas ";
}

#fuentes-titulo {
    grid-area: fuentes-titulo;
    color: #6f04d9;
    display: flex;
    justify-content: center;
    align-content: center;
}

#fuentes-tarjetas {
    grid-area: fuentes-tarjetas;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}





#mouses {
    grid-area: mouses;
    background-color: #0e0b16;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 0.3fr 0.5fr;
    grid-template-areas:
    "mouses-titulo"
    "mouses-tarjetas";
}

#mouses-titulo {
    grid-area: mouses-titulo;
    color: #6f04d9;
    display: flex;
    justify-content: center;
    align-content: center;
}

#mouses-tarjetas {
    grid-area: mouses-tarjetas;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


/* PAGINA SERVICIOS */

#grillaservicios {
    width: 99vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.15fr 1fr 0.2fr;
    grid-template-areas:
    "header"
    "mainservicios"
    "footer"

    ;
}


#main_servicios {
    grid-area: mainservicios ;
    background-color: #0e0b16;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.1fr 1fr 1fr;
    grid-template-areas: 
    "tituloservicios"
    "reparacion_de_pc"
    "iptv"
    ;
}

#tituloservicios {
    grid-area: tituloservicios;
    color: #6f04d9;
    display: flex;
    justify-content: center;
    align-content: center;
}

#reparacion_de_pc {
    grid-area: reparacion_de_pc;
    color: #4717f6;
    text-align: center;
  
}


#iptv {
    grid-area: iptv;
    color: #4717f6;
    text-align: center;
}


/* PAGINA QUIENES SOMOS */


#grillaquienes {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:0.1 0.3fr 0.2fr ;
    grid-template-areas: 
    "header"
    "mainquienes"
    "footer"
    ;
}

#mainquienes {
    grid-area: mainquienes;
    background-color: #0e0b16;
    color: #6f04d9;
    display: grid;
    grid-template-rows: 1fr !important;
    text-align: center;
}

/* PAGINA DONDE ENCONTRARNOS */


#grilladonde {
    width: 99vw;
    height:100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:0.01fr 1fr 0.1fr;
    grid-template-areas:
    "header"
    "maindonde"
    "footer" ;
}

#maindonde {
    grid-area: maindonde;
    display: grid;
    grid-template-rows: 1fr !important;
    background-color: #0e0b16;
    color: #6f04d9;
    text-align: center;
}




@media screen and (max-width: 1200px) {
    #grillaproductos {
        height: 500vh;
    }
}

@media screen and (max-width: 1024px) {
    #grillaproductos {
        height: 600vh;
    }
}

@media screen and (max-width: 768px) {

    #categorias {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0,1fr 1fr 1fr;
        grid-template-areas: 
        "titulocategoria titulocategoria"
        "categoria1 categoria2"
        "categoria3 categoria4"
        ;}

       
    
}

@media screen and (max-width: 600px) {
    #categorias {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 0,1fr repeat(4, 1fr);
        grid-template-areas: 
        "titulocategoria"
        "categoria1"
        "categoria2"
        "categoria3" 
        "categoria4"
        ;}
        
        #marcas {
            grid-area: marcas;
            display: flex;
            justify-content: center;
           justify-content: space-evenly;
           align-items: center;
           flex-wrap: wrap;
            background-color: #0e0b16;
        }

        #grillaproductos {
            height: 900vh;
        }




        footer {
            grid-template-columns: 1fr 1fr;
           grid-template-rows: 1fr 1fr;
           grid-template-areas:
           "iconofooter navfooter"
           "contactofooter contactofooter"
           ;
      
        }

}

@media screen and (max-width: 480px) {
    footer {
        grid-template-columns: 1fr ;
       grid-template-rows: 1fr 1fr 1fr;
       grid-template-areas:
       "iconofooter"
        "navfooter"
       "contactofooter"
       "marcaxiaomi"
       ;
       
   
  
    }

  
    
}
@media screen and (max-width: 320px) {
  
}

