* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}

#grilla {
    width: 99vw;
    height:500vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.1fr repeat(4,1fr) 0.1fr;
    grid-template-areas: 
    "header"
    "main"
    "main"
    "main"
    "main"
    "footer"
    ;
}

header {
    grid-area: header;
    background-color: black;
   display: grid;
   grid-template-columns: 0.5fr 1fr 1fr;
   grid-template-rows: 0.2fr auto;
   grid-template-areas: 
   "icono redesmenu redesmenu"
   "icono nav nav"
   ;
}

#icono {
    grid-area: icono;
}

#nav {
    grid-area: nav;
    display: flex;
    justify-content: end;
    margin-left: 50px;
;

}

.menu__item {
    display: inline-block;
    padding: 10px;
    
}

.menu__item a {
    text-decoration: none;
    color: #4717f6;
}

button {
    
    border: none;
    color: #ffffff;
    width: 7em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(
        90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4
    );
    background-size: 300%;
    border-radius: 30px;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 1;
}
button:hover {
    animation: animation 8s linear infinite;
    border: none;
}

@keyframes animation {
    0% {background-position: 0%;}
    100% {background-position: 400%;}
}

button:before {
    content: "";
   
top: 5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(
        90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4
    );
    background-size: 400%;
    border-radius: 35%;
    transition: 1s;
}

button:hover::beffore {
    filter: blur(20px);
}









#redesmenu {
    grid-area: redesmenu;
    display: flex;
    justify-content: space-evenly;

}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas: 
    "carrousel"
    "carrousel"
    "categorias"
    "categorias"
    "categorias"
    "productos_destacados"
    "nuevos_ingresos"
    "nuevos_ingresos"
    "nuevos_ingresos"
    "marcas"
    ;
}

#carrousel {
    grid-area: carrousel;
}
#categorias {
    grid-area: categorias;
}

#productos_destacados {
    grid-area: productos_destacados;
}
#nuevos_ingresos {
    grid-area: nuevos_ingresos;
}
#marcas {
    grid-area: marcas;
}

footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: auto;
   grid-template-areas:
   "iconofooter navfooter contactofooter"
   ;
}

#inocnofooter {
    grid-area: iconofooter;
}

#navfooter {
    grid-area: navfooter;
}

#contactofooter {
    grid-area: contactofooter;
}